language: php

php:
  - 7.3
  - 7.4

matrix:
  fast_finish: true

before_install:
  - travis_retry composer self-update

cache:
  directories:
    - $HOME/.composer/cache

install:
  - travis_retry composer update --prefer-dist --no-interaction --prefer-stable

script:
  - vendor/bin/phpunit
